<!-- Header -->
<header id="header" {% if page.home %}class="alt"{% endif %}>

  <!-- Logo -->
  <div class="logo">
    <a href="/"><img width="200" src="/assets/images/logos/logo.png"></a>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a class="more scrolly" href="#tours">Tours</a></li>
      <li><a class="more scrolly" href="#team">Team</a></li>
      <li><a class="more scrolly" href="#blog">Blog</a></li>
      <li><a class="more scrolly" href="#contact">Contact</a></li>
    </ul>
  </nav>

</header>
