///
/// Relativity by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Faces */

	ul.faces {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'flex-start');
		@include vendor('justify-content', 'center');
		@include vendor('flex-wrap', 'wrap');
        gap: (_size(element-margin) * 1.5) (_size(element-margin) * 2);
		list-style: none;
		padding-left: 0;

		li {
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'column');
			@include vendor('align-items', 'center');
			padding-left: 0;
			text-align: center;
            width: 8rem;

			> :last-child {
				margin-bottom: 0;
			}

			.image {
				border-radius: 100%;
				margin: 0 0 (_size(element-margin) * 0.75) 0;

				img {
					border-radius: 100%;
					width: 8rem;
				}
			}

			h3 {
				font-size: 0.8rem;
				margin: 0 0 (_size(element-margin) * 0.125) 0;
			}

			p {
              text-wrap: balance;
              line-height: 1.4;
              font-size: 0.8rem;
			}
		}

		@include breakpoint('<=large') {
        }

		@include breakpoint('<=medium') {
          gap: (_size(element-margin) * 1.5) (_size(element-margin) * 1.5);
        }

		@include breakpoint('<=small') {
			li {
                width: 6rem;
				.image {
					img {
						width: 6rem;
					}
				}
			}
		}

		@include breakpoint('<=xsmall') {
            gap: (_size(element-margin) * 1.5) (_size(element-margin) * 5);
            @include vendor('flex-direction', 'column');
            @include vendor('align-items', 'center');
			li {
                width: 100%;
				.image {
					img {
						width: 10rem;
					}
				}

				h3 {
					font-size: 1rem;
				}

				p {
					font-size: 1rem;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
