.practical-info {
  padding-bottom: 2rem;
  h5, h6 {
    margin-bottom: 0.2rem;
  }
  p {
    margin-bottom: 1rem;
  }
  .info-item {
    margin-bottom: 1.5rem;
    p {
      margin-bottom: 0.1rem;
    }
  }
  .cancellation-policy {
    margin-top: 2rem;
  }
}
