---
layout: default
---

<!-- Banner -->
<section id="banner">
  <div class="content">
    <h1>Snæfellsnes Excursions</h1>
    <p>Shore Excursions from Grundarfjörður</p>
  </div>
  <a href="#tours" class="more scrolly">Learn More</a>
</section>

<!-- Section -->
<section class="main alt" id="tours">
  <header>
    <h2>Tours</h2>
    <p>Join us on a trip to discover the wonders of Snæfellsnes</p>
  </header>
  <div class="inner">
    {%- assign tours = site.tours | where: "active", true | sort: 'order' %}
    {%- for tour in tours -%}
      {% assign mod = forloop.index | modulo: 2 %}
      <article class="post style2 {% if mod == 0 %}alt{% endif %}">
        <div class="content">
          <header>
            <span class="category">{{ tour.duration }}</span>
            <h3>{{ tour.title }}</h3>
          </header>
          <p>{{ tour.short_description }}</p>
          <ul class="actions">
            <li><a href="{{ tour.url | relative_url }}" class="button next">Learn More</a></li>
          </ul>
        </div>
        <div class="image" data-position="center"><img src="{{ tour.image }}" alt="" /></div>
      </article>
    {%- endfor -%}
  </div>
</section>

<!-- Section -->
<section class="main" id="team">
  <header>
    <h2>The team</h2>
    <p>The hard-working people that work tirelessly to make your dreams become reality</p>
  </header>
  <div class="inner">
    <ul class="faces">
      {% for member in site.data.team %}
      <li>
        <span class="image"><img src="/assets/images/team/{{ member.image }}" alt="" /></span>
        <h3>{{ member.name }}</h3>
        <p>{{ member.role }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- Section -->
<section class="main accent2" id="blog">
  <header>
    <h2>Blog</h2>
    <p>Learn more about Snæfellsnes and Iceland</p>
  </header>
  <div class="inner">
    {%- for post in site.posts -%}
    {% assign mod = forloop.index | modulo: 2 %}
      <article class="post {% if mod == 1 %}alt{% endif %}">
        <div class="content">
          <header>
            <span class="category">{{ post.category }}</span>
            <h3>{{ post.title }}</h3>
          </header>
          <p>{{ post.excerpt }}</p>
          <ul class="actions">
            <li><a href="{{ post.url | relative_url }}" class="button next">Read More</a></li>
          </ul>
        </div>
        <div class="image" data-position="center"><img src="{{ post.image }}" alt="" /></div>
      </article>
    {% endfor %}
  </div>
</section>

<!-- Section -->
<section class="main alt special" id="contact">
  <header>
    <h2>Get in touch</h2>
    <p>For any questions or inquiries, do not hesitate to contact us and we will be happy to assist you plan your trip to Snæfellsnes and Iceland.</p>
  </header>
  <div class="inner narrow">
    <form id="contact-form" action="https://formspree.io/f/mayzlaek" method="POST">
      <div class="fields">
        <div class="field half">
          <input name="name" id="name" placeholder="Name" type="text" />
        </div>
        <div class="field half">
          <input name="email" id="email" placeholder="Email" type="email" />
        </div>
        <div class="field">
          <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
        </div>
      </div>
      <ul class="actions special">
        <li><button class="button next" type="submit">Send Message</button></li>
      </ul>
      <div style="display: none;" class="alert box" id="contact-form-status">
      </div>
    </form>
  </div>
</section>

<script>
  var form = document.getElementById("contact-form");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("contact-form-status");
    status.classList.remove("error", "success");
    status.style.display = "block";
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Thanks for your submission!";
        status.classList.add("success");
        form.reset()
      } else {
        status.classList.add("error");
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Oops! There was a problem submitting your form"
          }
        })
      }
    }).catch(error => {
      status.classList.add("error");
      status.innerHTML = "Oops! There was a problem submitting your form"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
