---
layout: default
---
<section class="main alt">

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p>{{ page.intro }}</p>
    {%- include bokun-widget.html id=page.bokun_id -%}
  </header>

  <div class="inner style2">
    <div class="image main" data-position="center"><img src="{{ page.image }}" alt="" /></div>
    {{ content }}

    {% if page.cancellation %}
    <hr>

    {%- include practical-info.html -%}

    {% endif %}
    <div class="row aln-center">
      <div>
      {%- include bokun-widget.html id=page.bokun_id -%}
      </div>
    </div>
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</section>
